.group
{
    padding: 10px;
}

.bet-heading
{
    padding-top:  5px;
    padding-right: 10px;
}

.wager
{
    padding-top: 15px;
    padding-left: 10px;
}

.bankRoll
{
    padding-top: 15px;
    padding-left: 10px;
}