<div class="container fixed-bottom">
  <div class="btn-toolbar justify-content-center">
    <div class="btn-group group ">
        <button class="btn btn-default" 
        (click)="deal()"
        *ngIf="dealPhase"
        >Deal</button>
        <button class="btn btn-default" 
        (click)="hit()"
        *ngIf="playerPhase"
        >Hit</button>
        <button class="btn btn-default" 
        (click)="stand()"
        *ngIf="playerPhase"
        >Stand</button>
        <button class="btn btn-default"
        (click)="double()"
        *ngIf="playerPhase">Double</button>
        <!-- <button class="btn btn-default"
        *ngIf="playerPhase">Split</button> -->
        <button class="btn btn-default"
        *ngIf="playerPhase">Insurance</button>
        <button class="btn btn-default"
        (click)="newGame()"
        *ngIf="dealerPhase">New Game</button>
    </div>
    <div class="input-group group" *ngIf="dealPhase">
        <span class="bet-heading">Bet: </span>
        <md-chip-list>
          <md-chip
          (click)="bet(5)"
          >5</md-chip>
          <md-chip selected="true" color="primary"
          (click)="bet(25)"
          >25</md-chip>
          <md-chip selected="true" color="accent"
          (click)="bet(50)">50</md-chip>
          <md-chip selected="true" color="warn"
          (click)="bet(100)"
          >100</md-chip>
        </md-chip-list>
    </div>  
    <span class="wager">Current Wager: {{ wager | currency:'USD':true}}</span>
    <span class="bankRoll">Bank Roll: {{ bankRoll | currency:'USD':true}}</span>
  </div>
</div>
