<div class="container fixed-bottom">
  <div class="btn-toolbar justify-content-center">
    <div class="btn-group group ">
        <button class="btn btn-default" (click)="deal()">Deal</button>
        <button class="btn btn-default">Stand</button>
        <button class="btn btn-default">Double</button>
        <button class="btn btn-default">Split</button>
        <button class="btn btn-default">Insurance</button>
    </div>
    <div class="input-group group">
        <span class="input-group-addon">Wager $</span>
        <input type="money" class="form-control">
    </div>  
  </div>
</div>
