/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body { padding: 20px; }

.card {
    max-width: 160px;
    padding: 5px;
    border: none;
}

md-chip {
    cursor: pointer;
}